@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #C9C1B5;
  --foreground: #C9C1B5;
}

@font-face {
  font-family: 'ComicSans';
  src: url('/fonts/ComicSansMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  width: 100%;
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: 'ComicSans', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit; 
}

/* styles/globals.css */
.fixed-image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 8px;
}
